@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Style+Script&display=swap');

:root{
    --mainColor: #f0f0f0;
    --secondaryColor : #fff;
    
    --tagColor :rgba(153, 153, 153, 0.2);
    --borderColor: #c1c1c1;
    
    --IntroBg: rgb(251, 249, 243, 0.8);
    --IntroShadow:#f0ead6;
    
    --linkText : rgb(31, 30, 30);
    --mainText: black;
    
    --titleColor : #282a2b;
    --btnColor : #636060;
}

/* Body part */
body{
    background-color: var(--mainColor);
    overflow-x: hidden;
}
html{
    overflow-x: hidden;
}

/* Scroll To top button */
.gotobtn{
    cursor: pointer;
    display: none;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 45px;
    right: 30px;
    border-radius: 50%;
}
.gotobtn >img{
    border: 1px solid var(--borderColor);
    padding: 10px;
    border-radius: 50%;
    background-color: #cacaca;
    width: 100%;
    height: 100%;
}


/* All The title */
.title{
    color: var(--titleColor);
    line-height: 1.7;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: 'Russo One', sans-serif;
}

/* Navigation Bar */
.navigation-bar{
    text-transform: capitalize;
    font-size: 1rem;
    line-height: 1.8;
    font-weight: 600;

    background-color: var(--mainColor);
    height: 50px;
    padding-right: 1em;
    padding-left: 1em;
    justify-content: end;
    
    align-items: center;
    color: var(--btnColor);
    display: flex;

    margin-left: 5em;
    margin-right: 5em;
    border-radius: 6px 6px 0px 0px;
    border: 1px solid var(--borderColor);
}
.dekstop-version-btn{
    display: flex;
    column-gap: 10px;
}
.nav-link:hover{
    color:var(--mainText);
}
.mobile-navbar-btn{
    display: flex;
    background: transparent;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.mobile-nav-icon{
    display: none;
    width: 2.2rem;
    height: 2.2rem;
}
.mobile-nav-icon[name="close-outline"]{
    display: none;
}

/* Hero section */
.hero{
    background-color: var(--secondaryColor);
    color: var(--mainText);
    min-height: auto;
    margin-right: 5em;
    margin-left: 5em;
    border-radius: 0px 0px 6px 6px;
    border: 1px solid var(--borderColor);
    box-shadow: 0 6px 8px 6px rgba(0, 0, 0, 0.1);
}
#profile_pic{
    height: 350px;
    width: 350px;
    object-fit: cover;
    border-radius: 50%;
    padding: 6px;
    background-color: var(--borderColor);
}
.hero .sign{
    padding-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero--content{
    width: 900px;
    margin: 0 auto;
    padding-top: 1em;
}
.hero--content--intro{
    display: flex;
    width: 900px;
    text-align: justify;
    justify-content: space-evenly;
    gap: 6em;
    margin-bottom: 3em;
    margin-top: 3em;
}

/* For hero content typing effect */
.Type p {
    font-size: 24px;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
}
.Type p span.typed-text {
    font-weight: normal;
    color: #d81508;
}
.Type p span.cursor {
    display: inline-block;
    background-color: rgb(240, 70, 70);;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}
.Type p span.cursor.typing {
    animation: none;
}
@keyframes blink {
    0%  { background-color: rgb(240, 70, 70); }
    49% { background-color: rgb(240, 70, 70); }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: rgb(240, 70, 70); }
}

/* profile intro section */
.intro{
    gap: 2em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    justify-content: center;
}
.intro--name{
    font-size: 55px;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    font-weight: 700;
    font-family: 'Russo One', sans-serif;
    margin: 0.6em;
    color: var(--mainText);
}
.intro--sub{
    margin-top: 2em;
    border: 1.5px solid #17a2b8;
    background-color: var(--IntroBg);
    box-shadow: -1rem -1rem var(--IntroShadow);
    padding: 1em;
    justify-content: center;
    width: fit-content;
}
.intro--line{
    max-width: 360px;
}
.intro--title{
    line-height: 1.8;
    font-size: 1.1rem;
    font-weight: 600;
    color : rgb(109, 108, 108)
}

.intro--line .intro--title:first-child{
    text-align: none;
    font-size: 1.8rem;
}
.intro--title b{
    color: rgb(245, 69, 69);
    font-size:1.9rem;
}
.intro--button{
    display: flex;
    gap: 1em;
}
.intro--button .btn{
    background: var(--tagColor);
    color: #777;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    border-radius: 5px;
    padding: 0.5rem 3rem;
}
.intro--button .btn:hover{
    color: black;
}
.intro--sub--title{
    font-size: 30px;
    column-gap: 4em;
    justify-content: center;    
}

/* profile description section */
.description{
    font-size: 48px;
    text-align: center;
}

/* Projects section */
.project--title{
    display: flex;
    padding-top: 0.5em;
    align-items: center;
    justify-content: space-between;
}
.project-section{
    padding-top: 2em;
    padding-bottom: 2em;
    margin-left: 5em;
    margin-right: 5em;
    border-bottom: 1px solid var(--borderColor);
}
.project--container{
    padding: 1em;
    margin: 0 auto;
}
.project-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding-top: 2em;
    padding-bottom: 2em;
}
.inner--project--wrapper--thumbnail{
    display: flex;
}
.project--slogan>h5{
    font-weight: 500;
    color: rgb(90, 90, 90);
    font-size: 1.2rem;
    line-height: 1.6;
    height: 1.5em;
}
.project--thumbnail{
    width: 400px;
    height: 230px;
    padding: 1em 1em 0em 0em;
    object-fit: cover;
}
.project--body{
    text-align: justify;
    align-items: center;
}
.inner--project--wrapper--body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1em 0.5em;
}
.project--body--view--button{
    display: flex;
    align-items: center;
    justify-content: end;
}
.view--detail--button{
    text-decoration: none;
    line-height: 2;
    font-weight: 600;
    font-size: 0.9rem;
}
.heading--text{
    font-size: 1.3rem;
    line-height: 1.5;
    font-weight: 670;
    height: 1.5em;
}
.card--title--text{
    display: block;
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 500;
    color: rgb(90, 90, 90);
    height: 1.5em;
}
.project--body--edit{
    display: flex;
    justify-content: space-between;
}
.link{
    text-decoration: none;
    color: var(--mainText);
}
.view--page{
    display: flex;
    justify-content: end;
}
.view--page .btn{
    margin-right: 1em;
    background-color: var(--tagColor);
    color:  #777;
    border: none;
    line-height: 1.7;
    font-weight: 600;
    font-size: 0.9rem;
}
.view--page .btn:hover{
    color: var(--mainText);
}

/* About section */
.about-section{
    padding-top: 2em;
    padding-bottom: 2em;
    margin: 0em 5em 0em 5em;
}
.about--wrapper{
    padding: 1em;
}
.about--me{
    line-height: 1.8;
    font-weight: 500;
    font-size: 1em;
    color: rgb(90, 90, 90);
}

/* Skills section */
.skills-section{
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: var(--secondaryColor);
    padding: 1em;
    color: var(--mainText);
}
.skills--container{
    width: 700px;
    margin: 0 auto;
}
.skill--wrapper{
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    gap: 2em;
}
.skill--title{
    line-height: 0.8;
    font-size: 1.2rem;
    color: rgb(70, 69, 69);
}
.skill--body{
    line-height: 1.5;
    font-size: 1em;
    font-weight: 500;
    color: rgb(90, 90, 90);
}
.skill_edit{
    display: flex;
    justify-content: space-between;
}
.skill--logo{
    height:30px;
    width: 30px;
    background:none;
    mix-blend-mode: hard-light;
}
.other--skills--wrapper{
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-wrap: wrap;
}
.skill--tag{
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
    background-color: var(--tagColor);
    width: fit-content;
    padding: 0.4rem 1.2rem;
    border-radius: 5px;
}
.skill--tag .bttn{
    padding: 0.1px 5px;
}
.skill--tag--title{
    line-height: 1.4;
    font-size: 0.9rem;
    color: #777;
    font-weight: 500;
}
.skill--tag--title:hover{
    color: var(--mainText);
}
.skill--slogan{
    display: flex;
    justify-content: space-between;
}
.skill--slogan h3{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contact section */
.contact-form-section{
    line-height: 1.4;
    font-size: 1rem;
    background: linear-gradient(to right, rgba(0, 98, 185, 0.8), rgba(0, 98, 185, 0.8));
    /* background-color: var(--mainColor); */
    color: #444343;
    font-weight: 500;
    padding-top: 2em;
    padding-bottom: 2em;
}
.contact-form-section .title{
    letter-spacing: 3px;
    text-transform: uppercase;
    /* color: var(--mainText); */
    color: #fff;
    line-height: 2;
    font-size: 2rem;
}
.contact-form-section .container{
    max-width: 710px;
}
.contact--form{
    border-radius: 6px;
    padding: 2em;
    background-color: var(--secondaryColor);
}
.contact--form .form-group{
    padding-bottom: 2rem;
}
.contact--form .message-box{
    padding-bottom: 0rem;
}
.contact--form .send--button{
    padding-bottom: 0.6rem;
}
.contact--form input{
    line-height: 1.7;
    font-weight: 600;

    margin-top: 10px;
    width: 100%;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    line-height: 2;
    letter-spacing: 0px;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ebebeb;
}
.contact--form textarea{
    line-height: 1.7;
    font-weight: 600;
    resize: none;

    margin-top: 10px;
    width: 100%;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    line-height: 2;
    letter-spacing: 0px;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ebebeb;
    height: 220px;
}
.message{
    margin-bottom: 1rem;
}
.message .success{
    color: green;
    position: absolute;
    transition: .3s;
    animation: buttons .3s linear;
    opacity: 0;
}
.message .danger{
    color: red;
    position: relative;
    transition: .3s;
    animation: buttons .3s linear;
    opacity: 0;
}
@keyframes buttons{
    0%{
        transform: scale(0.1);
    }
    50%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}
.send--button{
    display: flex;
    justify-content: end;
    align-items: center;
}
.contact--form .btn{
    background: #0062b9;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    border-radius: 5px;
    padding: 0.5rem 3rem;
    width: fit-content;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
}

/* Footer Section */
.footer{
    align-items: center;
    justify-content: center;
    background-color: var(--secondaryColor);
    padding: 0em 5em 0em 5em;
}
.footer--container{
    display: flex;
    justify-content: space-between;
    padding-top: 3em;
    padding-bottom: 2em;
    border-bottom: 1px solid var(--borderColor);
}
.footer--container--name--section{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.footer--container--social--section{
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}
.footer--container--social--section a{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    padding-right: 1rem;
}
.footer--slogan{
    line-height: 1.8;
    font-weight: 600;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
}


/* Media for medium range screen */
@media (max-width:1238px){
    .project--thumbnail{
        height: 170px;
    }
    .project--thumbnail{
        width: 400px;
        height: 230px;
        padding: 1em 1em 0em 0em;
        object-fit: cover;
    }
}
@media (max-width:1115px){
    .hero, .project-section, .about-section, .navigation-bar{
        margin-left: 0.7em;
        margin-right: 0.7em;
    }
    .project--header--image{
        margin-left: 0.7em; 
    }
    .project--detail--section{
        margin-right: 0.7em;
    }
    .project--thumbnail{
        width: 400px;
        height: 230px;
        padding: 1em 1em 0em 0em;
        object-fit: cover;
    }
    .hero--content{
        width: fit-content;
        justify-content: center;
    }
}
@media (max-width:1000px){
    .project--image{
        border-radius: 6px 6px 0px 0px;
        width: 400px;
        max-height: 300px;
    }
}

/* For low medium range */
@media (max-width:900px) {
    .hero--content{
        justify-content: center;
        width: fit-content;
    }
    .project--thumbnail{
        height: 230px;
    }
    .hero--content--intro{
        width: fit-content;
    }
    .project--header--image{
        margin-right: 0.7em;
        margin-bottom: 2em;
    }
    .project--detail--section{
        margin-right: 0.7em;
        margin-left: 0.7em;
        width: auto;
    }
    .project--image{
        border-radius: 6px 6px 0px 0px;
        width: 100%;
        max-height: 450px;
    }
    .project--body--btn{
        margin-top: 1em;
    }
    .description{
        font-size: 50px;
    }
}
@media (max-width:900px) {
    .hero--content{
        padding: 1em;
    }
    .intro--line .intro--title:first-child{
        text-align: none;
        font-size: 1.4rem;
    }
    .intro--title b{
        color: rgb(245, 69, 69);
        font-size:1.5rem;
    }
}
/* for close to mobile screen */
@media (max-width:800px){
    #profile_pic{
        height: 250px;
        width: 250px;
    }
    .project--body--div{
        margin: 0px 30px;
    }
    .project-section{
        margin-left: 0.1em;
        margin-right: 0.1em;
    }
    .project--thumbnail{
        width: 100%;    
        height: 100%;
    }
    
    .card--title--text{
        display: none;
    }
    .inner--project--wrapper--thumbnail{
        flex-direction: column;
        border-radius: 3px;
        background-color: var(--secondaryColor);
        border: 1px solid var(--borderColor);
        padding: 2px;
    }
    .project--body>.heading--text{
        font-size: 1rem;
        line-height: 1.5;
        font-weight: 650;
        height: 1.5em;
    }
    .project--column{
        margin-bottom: 0.8em;
    }
    .inner--project--wrapper--body{
        padding: 0.5em 0.5em;
        align-items: center;
        text-align: center;
        flex-direction: row;
    }
    .add{
        font-size: 15px;
    }
    .skill--wrapper{
        gap: 1em;
    }
    .skill--logo{
        height: 25px;
        width: 25px;
    }
    .project--image{
        width: 100%;
        max-height: 450px;
    }
    .hero--content{
        justify-content: center;
        width: fit-content;
    }
    .description{
        font-size: 50px;
    }
    .skills--container{
        width: 100%;
    }
    .project--container{
        width: 100%;
    }
    .hero--content--intro{
        justify-content: center;
        width: fit-content;
    }
    .footer--container{
        gap: 2em;
        flex-direction: column;
    }
    .footer{
        padding: 0em 3em 0em 3em;
    }
}
@media (max-width:700px){
    .intro--line .intro--title:first-child{
        text-align: none;
        font-size: 1.2rem;
    }
    .intro--title b{
        color: rgb(245, 69, 69);
        font-size:1.3rem;
    }
}
@media (max-width:660px){
    .hero--content--intro{
        text-align: justify;
        word-spacing: 0%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }
    .intro--line .intro--title:first-child{
        text-align: center;
        font-size: 1.5rem;
    }
    .intro--title b{
        color: rgb(245, 69, 69);
        font-size:1.6rem;
    }
    .intro{
        display: flex;
        align-items: center;
        gap: 1em;
    }
    .navigation-bar{
        position: relative;
    }
    .mobile-navbar-btn{
        z-index: 999;
    }
    .dekstop-version-btn{
        
        border-radius: 6px;
        width: 100%;
        height: fit-content;
        padding: 5em 3em 3em 3em;
        background-color: var(--mainColor);
        position: absolute;
        top: 0;
        right: 0;
        color: var(--mainText);
        letter-spacing: 0.1ch;
        text-transform: uppercase;

        border: 1px solid var(--borderColor);

        display: flex;
        justify-content: center;
        align-items: end;
        flex-direction: column;
        gap: 2em;

        transform: translateY(-1%);
        transition: all 0.5s linear;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;

    }
    .mobile-nav-icon{
        display: block;
    }
    .active .dekstop-version-btn{
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .active .mobile-nav-icon[name="close-outline"]{
        display: block;
    }
    .active .mobile-nav-icon[name="menu-outline"]{
        display: none;
    }
}

/* For mobile screen */
@media (max-width:600px){
    .gotobtn{
        bottom: 20px;
        right: 20px;
    }
    .project--image{
        width: 100%;
        max-height: 450px;
    }
    .project--thumbnail{
        height: 100%;
        width: 100%;
        padding: 0.5em 0em;
    }
    .project--body--div{
        margin: 0px 20px;
    }
    .hero--content{
        width: fit-content;
        justify-content: center;
    }
    .cursor{
        background-color: red;
    }
    .contact--form input{
        line-height: 1.8;
        font-weight: 500;
        font-size: 0.8rem;
    }
    .contact--form textarea{
        line-height: 1.8;
        font-weight: 500;
        font-size: 0.8rem;
        height: 200px;
    }
    .send--button{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .send--button .btn{
        width: 100%;
    }
    .footer{
        padding: 0em 2em 0em 2em;
    }
}
@media (max-width:500px){
    .project--image{
        width: 100%;
        max-height: 450px;
    }
    .project--body--div{
        margin: 0px 10px;
    }
    .project--thumbnail{
        height: 100%;
        padding: 0.5em 0em;
    }
}
@media (max-width:460px){
    .intro--name{
        font-size: 40px;
    }
    .project--slogan>h5{
        font-size: 1rem;
    }
}
@media (max-width:350px){
    .project--image{
        width: 100%;
        max-height: 450px;
    }
    .project--body--div{
        margin: 0px 5px;
    }
}